.main_page{
    width: 100%;
    height: 100vh;
    background: url("../img/bg.jpg");
    background-size: cover;
    text-align: center;
}
.login-button{
    margin-top: 20%;
}

header,
main,
footer {
    padding-left: 200px;
}

body {
    backgroud: white;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

#credits li,
#credits li a {
    color: white;
}

#credits li a {
    font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
    color: #BCC2E2;
}

.fab-tip {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}

.page_title{
    font-size: 25px;
    margin: 20px 0px 20px 20px;
}

.tabs{
    background-color: transparent;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #3F51B5;
    text-decoration: none;
}
.tabs .indicator {
    background-color: #3F51B5;
}
.tabs .tab a {
    color: #637377;
}

.side-nav{
    width: 200px;
}

.card.small {
    height: 160px;
}
.groups_options_card a{
    width: 100px;
    font-size: 15px;
}
.groups_options_card,
.groups_options_card_ul{
    width: 100%;
}

.groups_options_card{
    /*padding: 5px 30px; */
    text-align: left;
}

.groups_options_card_wrap{
    padding: 0px !important;
}

.card .card-title {
    font-size: 18px;
}

.groups_options_card_title{
    padding: 3px 20px;
}

.header_user:hover{
    text-decoration: none;
    color: #fff;
}
.header_user_menu_item:hover{
    text-decoration: none;
}
.user_dropdown_ul{
    top: 70px !important;
}
.contentheader_badge{
    float: none !important;
    color: #fff !important;
}
.group_avatar_in_card{
    width: 50px;
}
.group_name_in_card,
.group_link_in_card{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    width: 90%;
}
.group_link_in_card{
    padding: 5px 0px;
    margin: 0;
    width: 80%;
}
.group_menu_activator_in_card:hover{
    cursor: pointer;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3F51B5;
    box-shadow: 0 1px 0 0 #3F51B5;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #3F51B5;
}
.tab_content_custom{
    padding-top: 20px !important;
}
.a_non_decorated:hover{
    text-decoration: none !important;
}
.modal, .modal-backdrop {
    bottom: inherit;
}
.modal-content {
    border-radius: 0px;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #3F51B5;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #828AB2;
}
.btn:hover{
    color: #fff;
}
.update_user_groups_button {
}
.update_badge{
    background-color: #F5F8FA !important;
    margin: 0px !important;
    height: 26px !important;
}
.a_in_li{
    display: block;
    width: 100% !important;
    padding: 2px 30px !important;
}
.group_is_payed{
    border: 1px solid #00796b ;
    padding: 10px 10px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #00897b;
}
.group_not_payed{
    border: 1px solid red;
    padding: 10px 10px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: red;
    margin-bottom: 10px;
}
.group_not_payed p:last-child{
    margin: 0;
}
.bot_settings_title{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0px 10px 10px;
}
.groups_back_button{
    margin: 10px 0px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.table_td{
    padding: 15px 5px !important;
}
.textarea6{
    max-height: 120px !important;
    overflow-y: auto;
    padding: 10px !important;
}
.side-nav li{
    text-align: center;
}
.side-nav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 60px;
    padding: 5px 32px;
}
.side-nav li > a > p{
    margin: 0;
    padding: 0;
    height: 20px;
}
.action_select,
.group_select{
    display: none;
}
.h10{
    height: 10px;
}